@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top__icon_wrapper {
    @apply cursor-pointer rounded-md bg-gray-200 p-[6px] text-[14px] hover:bg-accent hover:text-white;
  }

  .navbar__link:hover {
    color: #ff8f9c;
    transition: all 0.4s ease-in-out;
  }

  .navbar__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff8f9c;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

  .navbar__link--active{
    color: #ff8f9c;
    
  }
}
